
svg circle.math-circle {
    fill: pink;
    stroke: #565656;
    stroke-width: 2;
}
svg circle.math-circle1 {
    fill:yellow;
    stroke: #565656;
    stroke-width: 2;
}
svg rect.math-rect {
    fill: lime;
    /* stroke: #FFEB3B; */
    /* fill: #986f6f; */
    stroke: #565656;
    cursor: pointer;
}
svg rect.math-rect1 {
    fill: lightblue;
    /* stroke: #FFEB3B; */
    /* fill: #986f6f; */
    stroke: #565656;
    cursor: pointer;
}
svg .math-triangle {
    fill: #ffd8ec;
    /* stroke: #FFEB3B; */
    /* fill: #986f6f; */
    stroke: #565656;
    cursor: pointer;
}